services:
  postgres:
    container_name: postgres
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ezplantparent
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
  broker:
    container_name: broker
    image: eclipse-mosquitto:2.0
    restart: always
    ports:
      - "1883:1883"     # Port MQTT standard
      - "8883:8883"     # Port MQTT TLS
      - "9001:9001"     # Port WebSocket MQTT (optionnel)
    volumes:
      - ./broker/config:/mosquitto/config
      - ./broker/data:/mosquitto/data
      - ./broker/log:/mosquitto/log
      - ./ssl:/mosquitto/ssl

  postgres_test:
    container_name: postgres_test
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ezplantparent_test
    volumes:
      - pgdata_test:/var/lib/postgresql/data
      - ./database/init/1-init.sql:/docker-entrypoint-initdb.d/1-init.sql
    ports:
      - "5433:5432"

  backend:
    build:
      context: ./backend
    command: >
      sh -c "./wait-for-it.sh postgres:5432 --
             uvicorn backend.app:app --reload --host=0.0.0.0 --port=3000 --ssl-certfile /ssl/server_cert.pem --ssl-keyfile /ssl/server_key.pem"
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - ./ssl:/ssl
    environment:
      PYTHONPATH: /app/backend
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: ezplantparent
      MQTT_HOST: broker
      MQTT_PORT: 8883
      SHARED_KEY: ${SHARED_KEY}
      PLANT_NET_API_KEY: ${PLANT_NET_API_KEY}
    depends_on:
      - postgres
      - postgres_test
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - ./ssl:/ssl
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@ezplantparent.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres

volumes:
  pgdata:
  pgdata_test:
  pgadmin_data: